<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Random Word Generator</title>
</head>
<body>
    <div>
        <h3>Random Word (attempt #{{request.session.counter}})</h3>
        <h1> {{ random_word }}</h1>
        <span>
            <a href="/random_word"><button>Generate</button></a><br><br>
            <a href="/"><button>Reset</button></a><br>
        </span>
    </div>
</body>
</html>